<nav>
    <ul>
        <li>
            <a href="/users">Dashboard</a>
        </li>
        <li>
            <a href="/users">Users</a>
        </li>
        <li>
            <a href="/biodata">Data Users</a>
        </li>
        <li>
            <a href="/history">History Game</a>
        </li>
        <li>
            <a href="/logout">
                <span>Logout</span>
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>