<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/" class="logo"><h1>LOGO</h1></a>
        </div>
        <div id="content">
            <div class="login-wrap <% if (title ==='Sign-up') { %> sign-up-active <% } %>">
                <div class="login">
                    <a href="/login"><span class="menu-text"><i class="bi bi-box-arrow-in-right"></i>Login</span></a>
                </div>
                <div class="sign-up">
                    <a href="/sign-up"><span class="menu-text"><i class="bi bi-person-plus-fill"></i>Sign-Up</span></a>
                </div>
                <form action="<% if (title === 'Sign-up') { %>/user<% } else {%>/login<% } %>" method="post">
                    <div class="input-wrap">
                        <i class="bi bi-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="input-wrap">
                        <i class="bi bi-key"></i>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <% if (title === 'Sign-up') { %>
                        <div class="input-wrap">
                            <i class="bi bi-person"></i>
                            <input type="text" id="username" name="nama" placeholder="Username" maxlength="15">
                        </div>
                    <% } %>
                    <button type="submit"><%= title %> </button>
                </form>
            </div>
        </div>
    </div>

    <script src="js/login.js"></script>
</body>
</html>